@import '@/styles/variables';

.aside{
    width: 17.7rem;
    height:calc(100vh - 6.25rem);
    bottom: 0;
    background-color:white;
    position: fixed;
    z-index: 5;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
    padding: 2rem 0;
    border-right: 1px solid #213F7D0F;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

    nav{
        margin-top:1rem;
    }

    .switchOrganization{
        display: flex;
        gap: .6rem;
        align-items: center;
        color: $dark-blue;
        margin-bottom: 1rem;
        height: 2.5rem;
        padding-left: 1rem;
        font-weight: 400;
        font-size: .88rem;
    }


    @media (min-width: ($breakpoint-lg)) {
    display: flex;
    }
}

.navSection{
    margin: 1.5rem 0;
    h4{
        font-weight: 500;
        font-size: .75rem;
        color: $gray;
        text-transform: uppercase;
        margin-bottom: .5rem;
        padding-left: 1rem;
    }

    div{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}

.navItem {
    display: flex;
    align-items: center;
    height: 2.5rem;
    font-weight: 400;
    padding-left: 1rem;
    border-left: 3px solid white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
    opacity: .6;
    color: $gray;
  
    &:hover {
        opacity: 1;
    }
  }
  
  .navIcon {
    margin-right: .6rem;
  }
  
  .navTitle {
    font-size: .88rem;
  }
  
  .active {
    color: $dark-blue; // Active state color
    background-color: rgba($light-blue, 20%); // Active state background color
    opacity: 1;
    border-left: 3px solid $light-blue;
  }